:root{
  --color-1:#808080;
  --color-2:#ffffff;
  --color-3:#1e1212;
  --color-4:#ff0000;
}
.userInitial{
 width: 100px;
 height: 100px;
 border-radius: 50% !important;
 justify-content: center;
 align-items: center;
 font-size: 30px;
 display: flex;
 margin-bottom: 10px;
 margin-left: 70px;
}

.usersInfo{
  text-align: center;
}

.userSinglePage{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.userSingleCard{
  padding-top: 20px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0px 2px 2px 0px var(--color-1);
  width: 400px;
  border-radius: 5px;
}

.userSingle{
  margin-left: 25px;
}

.userSingle span{
font-size: 30px;
text-transform: capitalize;
}
.userSingleCard{
background-color: var(--color-2);
text-transform: capitalize;

}
.userSingleCard p{
  font-size: 20px;
  padding-left: 20px;
}
.userSingleCard span{
  font-size: 20px;
  padding-left: 10px;
}
.userSingleCard Button{
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 20px;
} 
.userSingleCard Button:hover, .my-3:hover{
  background-color: var(--color-1);
  border: none;
  box-shadow: 0px 2px 2px 0px var(--color-3);
}

li{
  margin-left: 30px;
}

.link:hover{
 color: var(--color-4);
}
